<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psy.demo.mapper.GrowthCenterMapper">
  <resultMap id="BaseResultMap" type="com.psy.demo.dto.GrowthCenterDTO">
    <!--@mbg.generated-->
    <!--@Table growth_center-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, `name`, duration, is_del, create_time, update_time
  </sql>

  <select id="queryByType" resultMap="BaseResultMap">
    select * from (
          select  g.id,g.type, g.name, g.duration,c.introduce from(
                select id, `type`, `name`, duration, is_del, create_time, update_time
                       from growth_center
                       where type = #{type,jdbcType=VARCHAR})g left join
                (select type, introduce from growth_center_config where type = #{type,jdbcType=VARCHAR})
      c on g.type=c.type) t
    order by id asc
  </select>
</mapper>