<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psy.demo.mapper.IntelligentTestScaleMapper">
    <resultMap id="BaseResultMap" type="com.psy.demo.dto.IntelligentTestScaleDTO">
        <!--@mbg.generated-->
        <!--@Table intelligent_test_scale-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="is_free" jdbcType="VARCHAR" property="isFree"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="cnt" jdbcType="BIGINT" property="cnt"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, `name`, title, is_free, avatar_url,cnt, create_time, update_time
    </sql>
    <select id="select" resultMap="BaseResultMap">
        select `id`,
               `type`,
               `name`,
               `title`,
               `is_free`,
               `avatar_url`,
               `cnt`,
               `create_time`,
               `update_time`
        from intelligent_test_scale
    </select>
</mapper>