<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psy.demo.mapper.PayInfoMapper">
    <resultMap id="BaseResultMap" type="com.psy.demo.dto.PayInfoDTO">
        <!--@mbg.generated-->
        <!--@Table pay_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="psychologist_id" jdbcType="VARCHAR" property="psychologistId"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="uni_id" jdbcType="VARCHAR" property="uniId"/>
        <result column="amount" jdbcType="VARCHAR" property="amount"/>
        <result column="trade_no" jdbcType="VARCHAR" property="tradeNo"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="feedback" jdbcType="VARCHAR" property="feedback"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, open_id, category, uni_id,amount,trade_no,`description`,feedback,create_time, update_time
    </sql>


    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.psy.demo.dto.PayInfoDTO"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pay_info (open_id, psychologist_id, category, uni_id, amount, trade_no, description, feedback)
        values ( #{openId,jdbcType=VARCHAR}, #{psychologistId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{uniId,jdbcType=VARCHAR}
               , #{amount,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
               , #{feedback,jdbcType=VARCHAR})
    </insert>


    <select id="selectByUk3" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pay_info
        <where>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR}
            </if>
            <if test="category != null">
                and category = #{category,jdbcType=VARCHAR}
            </if>
            <if test="uniId != null">
                and uni_id = #{uniId,jdbcType=VARCHAR}
            </if>
        </where>
        limit 1
    </select>

    <select id="selectByOpenId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pay_info
        <where>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR}
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="updateFeedback" parameterType="com.psy.demo.vo.req.FeedbackReq">
        update pay_info
        set feedback= #{req.feedback,jdbcType=VARCHAR}
        where id = #{req.id,jdbcType=BIGINT};
    </update>

    <select id="selectByPsychologistId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pay_info
        <where>
            <if test="psychologistId != null">
                psychologist_id = #{psychologistId,jdbcType=VARCHAR}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getOrderCntAndAmount" resultType="com.psy.demo.vo.res.OrderAmountVO">
        SELECT count(1)    AS order_cnt,
               sum(amount) AS amount
        FROM pay_info
        <where>
            psychologist_id = #{psychologistId,jdbcType=VARCHAR}
        </where>
        GROUP BY psychologist_id
    </select>
</mapper>