<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psy.demo.mapper.UserInfoCategoryCntMapper">
    <resultMap id="BaseResultMap" type="com.psy.demo.dto.UserInfoCategoryCntDTO">
        <!--@mbg.generated-->
        <!--@Table user_info_category_cnt-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="cnt" jdbcType="VARCHAR" property="cnt"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, open_id, category, category_id, cnt, create_time, update_time
    </sql>
    <select id="selectCntByUK" resultType="int">
        select cnt
        from user_info_category_cnt
        <where>
            open_id = #{openId,jdbcType=VARCHAR}
                    and category = #{category,jdbcType=VARCHAR}
                    and category_id = #{categoryId,jdbcType=VARCHAR}
        </where>
    </select>

    <insert id="insertOrUpdateCnt" parameterType="com.psy.demo.dto.UserInfoCategoryCntDTO">
        insert into user_info_category_cnt (open_id, category, category_id)
        values (#{openId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR})
        ON DUPLICATE KEY UPDATE cnt = cnt + 1;
    </insert>
</mapper>